
useDynLib(CFINI)
exportPattern("^[[:alpha:]]+")
import(RcppArmadillo)
importFrom(Rcpp, evalCpp)
export(CFBlackScholesSolvCNS)
export(CFDiffSolvCNS)
export(CFDiffSolvES)
export(CFElemSecurity)
export(CFLattice)
export(CFLatticePricing)
export(CFTree)
export(CFTreePricing)
importFrom(gtools,combinations)
importFrom(stats,dmultinom)
